@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
	--white: #FFFFFF;
	--dark-purple: #151526;
	--darker-purple: #0e0e1a;
	--lighter-purple: #8686ff;
	--primary-color: #15276e;
	--gray: #989898;
	--light-gray: #9E9E9E;
	--lighter-gray: #AAAAAA;
	--strong-yellow: #FFBB3A;
}

* {
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	background-color: var(--darker-purple);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px; /* Override the bootstrap margins */
}

header {
	color: var(--white);
	background-color: var(--primary-color);
}

nav {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav a {
	font-size: 12px;
	font-weight: 400;
}

nav a img {
	width: 24px;
}

a, a:hover {
	color: unset;
	text-decoration: none;
}

.flip-image {
	transform: rotate(180deg);
}

.dsmovie-nav-title {
	font-size: 24px;
	font-weight: 700;

	color: var(--white);
}

/* Contact */
.dsmovie-contact-container {
	display: flex;
	align-items: center;
}

.dsmovie-contact-container img {
	margin-right: 10px;
}

/* Pagination */
.dsmovie-pagination-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 0;
}

.dsmovie-pagination-box {
	min-width: 180px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dsmovie-pagination-box p {
	font-size: 12px;
	font-weight: 400;
	
	margin: 0;

	color: var(--lighter-purple);
}

.dsmovie-page-btn {
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius: 4px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--lighter-purple);
	background-color: unset;
}

.dsmovie-page-btn:hover {
	background-color: var(--lighter-purple);
}

.dsmovie-page-btn:hover img {
	filter: brightness(0) /* Turn black */
			saturate(100%)
			/* Change color */
			invert(3%) sepia(38%) saturate(2143%) hue-rotate(217deg) brightness(91%) contrast(95%);

}


.dsmovie-page-btn:disabled, .dsmovie-page-btn:disabled:hover  {
	color: var(--dark-purple);
	background-color: unset
}

.dsmovie-page-btn:disabled img {
	filter: brightness(0) /* Turn black */
			saturate(100%)
			/* Change color */
			invert(7%) sepia(6%) saturate(5038%) hue-rotate(201deg) brightness(93%) contrast(95%);
}

/* Card */

#dsmovie-card-list {
	padding: 0 10px;
}

.dsmovie-card {
	width: 100%;
	min-height: 350px;
}

.dsmovie-card img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
	min-height: 200px;
	border-radius: 0 0 8px 8px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px 20px 20px;

	background-color: var(--dark-purple);
}

.dsmovie-card-description h3 {
	font-size: 14px;
	font-weight: 700;

	margin-bottom: 10px;
	text-align: center;

	color: var(--lighter-purple);
}

.dsmovie-review-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dsmovie-review-container h4 {
	font-weight: 700;
	font-size: 16px;

	color: var(--strong-yellow);
}

.dsmovie-review-container p {
	font-weight: 400;
	font-size: 12px;

	margin-bottom: 10px;

	color: var(--lighter-purple);
}

.dsmovie-star-container {
	width: 100px;

	display: flex;
}

.dsmovie-btn {
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 4px;

	font-size: 14px;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--white);
	background-color: var(--primary-color);
}

.dsmovie-btn:hover {

	color: var(--lighter-purple);
	background-color: var(--darker-purple)
}

/* Form */
#dsmovie-form-section {
	padding: 40px 10px;
}

.dsmovie-form-container {
	max-width: 480px;
}

.dsmovie-form-description {
	border-radius: 0 0 8px 8px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px 20px 20px;

	background-color: var(--dark-purple);
}

.dsmovie-form-description h3 {
	font-weight: 700;
	font-size: 13px;

	margin-bottom: 20px;

	color: var(--lighter-purple);
}

.dsmovie-form {
	width: 100%;

	font-size: 12px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	color: var(--lighter-gray);
}

.dsmovie-form-group {
	width: 100%;
	
	margin-bottom: 20px;
	
	color: var(--lighter-purple);
}

.dsmovie-form-group input:enabled {
	border-color: var(--lighter-purple);

	color: var(--lighter-gray);
	background-color: var(--darker-purple);
}

.dsmovie-form-group select:enabled{
	border-color: var(--lighter-purple);

	color: var(--lighter-gray);
	background-color: var(--darker-purple);
}

.dsmovie-form-btn-container {
	height: 100px;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
