@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
	--white: #FFFFFF;
	--primary-color: #4D41C0;
	--body-bg: #E8E8E8;

	--card-font-color: #4A4A4A;
}

* {
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	background-color: var(--body-bg);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px; /* Override the bootstrap margins */
}

header {
	color: var(--white);
	background-color: var(--primary-color);
}

nav {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav h1 {
	font-size: 24px;
	font-weight: 700;
}

nav a {
	font-size: 12px;
	font-weight: 400;
}

nav a img {
	width: 24px;
}

a, a:hover {
	color: unset;
	text-decoration: none;
}

/* DSMovie Contact */
.dsmovie-contact-container {
	display: flex;
	align-items: center;
}

.dsmovie-contact-container img {
	margin-right: 10px;
}

/* DSMovie Card */
#dsmovie-card-list {
	padding: 70px 0;
}

.dsmovie-card {
	width: 100%;
	min-height: 350px;
}

.dsmovie-card img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.dsmovie-card-description {
	min-height: 200px;
	border-radius: 0 0 8px 8px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px 20px 20px;

	background-color: var(--white);
}

.dsmovie-card-description h3 {
	font-size: 14px;
	font-weight: 700;

	text-align: center;

	color: var(--card-font-color);
}

.dsmovie-btn, .dsmovie-btn:hover {
	width: 180px;
	height: 40px;
	border-radius: 4px;

	font-size: 14px;
	font-weight: 700;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--white);
	background-color: var(--primary-color);
}

#dsmovie-form-section {
	padding: 70px 0;
	max-width: 480px;
}
